.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.header{
  display: flex; /* This will push the title to the left and the button to the right */
  justify-content: center; /* This will vertically align items in the center */
  width: 100%;
}

.title{
    margin: 0 auto;
}

.login-button{
    margin-left: auto;
}