.home-page-container {
    background-color: #b9e3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.header{
  display: flex; 
  justify-content: center;
  width: 100%;
}

.title{
    margin: 0 auto;
}

.login-button{
    margin-left: auto;
}