
  .tastTitle{
    font-size: 1.5rem;
  }

  .tastPriority{
    color: rgb(72, 72, 72);
    font-size: 1rem;
  }
  
  .task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3vh;
    margin-left: 10vh;
    margin-right: 10vh;
  }
  
  .card-container {
    width: calc(33.3333% - 20px); 
    margin: 10px;
  }
  
  @media (max-width: 1076px) {
    .card-container {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 784px) {
    .card-container {
      width: calc(50% - 10px); 
    }
  }